html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav {
  /* border-bottom: 1px solid #EAEAEB; */
  text-align: right;
  /* nav moved to right of the page */
  height: 70px;
  line-height: 70px;
  /* this will help center everything vertically inside nav */
}

.menu {
  margin: 0 30px 0 0;
  /* <!-- top right bottom left--> */
}

.menu a {
  /* this targets links inside of nav */
  clear: right;
  text-decoration: none;
  /* this removes underline */
  color: #E38f84;
  margin: 0 10px;
  line-height: 70px;
  padding: 101px;
}

label {
  margin: 4px 48px 0 0;
  font-size: 26px;
  line-height: 70px;
  /* line-height constant accross all styles for nav */
  display: none;
  // display: block;
  width: 26px;
  float: right;
  /* this keeps hamburger icon visible */
}
#toggle {
  display: none;
  /* this hides checkbox */
}

.logo {
  /* this style positions logo image to left side of webpage */
  float: left;
  margin-left: 5%;
}

h1 {
margin-bottom: -10%;
margin-top: 10%;
line-height: 60px;
/* margin-left: 30%; */
padding: 10%;
font-size: 55px;
}

 p {
  margin-top: 5%;
  line-height: 55px;
  width: 100%;
  text-align: center;
  /* margin-left: 16%; */
  font-size: 50px;
}

.read-more {
  height: 100px;
  background-color: #ffb6c1;
  border-radius: 15%;
  margin-bottom: 26%;
  margin-top: 1%;
  /* margin-left: 50%; */
  font-size: 50px;
  padding: 20px;
}

.about, .about2 {
  width: 138%;
}

h2 {
  margin-top: -8%;
  margin-bottom: -10%;
  line-height: 60px;
  /* margin-left: 30%; */
  padding: 10%;
  font-size: 55px;
}

h3 {
  /* margin-left: 30%; */
  padding: 10%;
  font-size: 55px;
}

h4, h5 {
  line-height: 40px;
  /* margin-left: 30%; */
  font-size: 55px;
}

#profile-image {
  /* margin-left: 18%; */
  width: 80%;
  float: none;

}

.profile-info {
  text-align: center;
  /* margin-left: 17%; */
  margin-top: -10%;
  line-height: 80px;
  margin-bottom: 20%;
}

.newsletter {
  padding: 10px;
  margin-top: -10%;
  margin-bottom: 10%;
}

.percentage-counter {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  background-color: black;
  margin-top: 5px;
  min-height: auto;
  width: 100%;
  text-align: center;
  color: #fff;
}

canvas {
  /*  add in media query */
  width: 100%;
  margin-left: -3%;
}

p {
margin-top: 10%;
line-height: 55px;
width: 100%;
text-align: center;
margin-left: 0%;
font-size: 50px;
}

.subscribe {
  font-size: 40px;
  padding: 5px;
  background-color: #ffb6c1;
}

#subscribe-icon {
width: 10%;
margin-left: 16%;
margin-bottom: -30%;
}


input {
  margin-left: 20%;
  padding: 5px;
  font-size: 40px;
}

/*  This is where the styling for carousel starts*/
.carousel {
  /* with this positioning the pictures are placed alongside one another */
  width: 167%;
}

/*This container holds the carousel*/
#partners-wrapper {
  overflow: hidden;
  background-color: black;
  margin-left: 0%;
  width: 100%;
  height: 100%;
}

#partners {
  /* the overflow prevents pictures from overlapping one another */
  overflow: hidden;
  width: 1000%;
  margin-top: 0;
}

/*this styling regulates the speed and loop of the carousel*/
#partners, .ready > *{
display: inline-block;
float:left;
overflow: hidden;

/* linear feature aligns images in a row */
webkit-animation-timing-function: linear;
animation-timing-function: linear;


-webkit-animation-timing-function: linear;
animation-timing-function: linear;

/* this is the actual time before the slider starts */
-webkit-animation-delay: 1s;
animation-delay: 1s;


-webkit-animation-duration: 20s;
animation-duration: 20s;


-webkit-animation-name: marginator;
animation-name: marginator;

/* the infinite feature prevents pause so slider runs continously */
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

/*the carousel will pause on hover and the movement is regulated here*/
#partners:hover > *{

  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes marginator {
  0% {
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
  }
  100% {
    -webkit-transform: translate(-100%,0);
    -webkit-transform: translate3d(-100%,0,0);
  }
}

@keyframes marginator {
  0% {

    -webkit-transform: translate(0,0);
    transform: translate(0,0);

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  100% {


    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);


    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
}
/* styling for carousel ends here */

footer {
background-color: #ff5252;
}
